*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body
{
    height: 100vh;
    background-color: #111111;
    /*background-image: url('img/3.jpg');*/
    background-size: cover;
    background-position: center;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
}


/*HEADER*/
header
{
    position: relative;
    padding: 0 2rem;
}

.navbar
{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a
{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0DBB59;
}

.navbar .links
{
    display: flex;
    gap: 2rem;
}

.links a
{
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.links a:hover
{
    color: #0DBB59;
    border: solid 2px #0dbb59;
}

.navbar .toggle___btn
{
    color: #FFF;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action___btn
{
    background-color: #0DBB59;
    color:#FFF;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action___btn:hover
{
    scale: 1.05;
    color: #FFF;
}

.action___btn:active
{
    scale: 0.95;
}

/*DROPDOWN MENU*/
.dropdown___menu
{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown___menu.open
{
    height: 280px;
    background-color: #272927;
}

.dropdown___menu li
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.dropdown___menu .action___btn
{
    width: 100%;
    display: flex;
    justify-content: center;
}


/*RESPONSIVE HEADER*/
@media(max-width: 992px)
{
    .navbar .links,
    .navbar .action___btn
    {
        display: none;
    }


    .navbar .toggle___btn
    {
        display: block;
    }

    .dropdown___menu
    {
        display: block;
    }
}

@media(max-width: 576px)
{
    .dropdown___menu
    {
        left: 2rem;
        width: unset;
    }
}

main
{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.presentation
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation .logo img
{
    width:245px;
    height: 245px;
    border-radius: 50%;
    border: solid 7px #0DBB59;
}

.box1
{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    width: 50%;
}

.box1 h2
{
    padding-bottom: 20px;
    color:#0DBB59;
    font-size: 60px;
    font-weight: bold;
}


.box1 p
{
    color: white;
    font-size: 20px;
}
